.App {
  padding-top: 36px;
  text-align: center;
}

.searchForm-wrapper{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.movies-list-item{
  margin-bottom: 24px;
  width: 48%;
}
